body {
  margin: 50px;
  padding: auto;
  background-color: rgb(240, 240, 240);
}
img {
  width: 200px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 55px;
  border-radius: 8px;
}
.sec1 {
  width: 900px;
  padding: 10px;
  margin: auto;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}
.box1 {
  width: 600px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}
.box1 h1 {
  margin-bottom: 0;
}
.box1 p {
  margin-top: 0;
}
span {
  color: blue;
}

.sec2 {
  width: 900px;
  padding: 10px;
  margin: auto;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}
.sec2-1 p {
  font-size: 10px;
  padding-left: 10px;
  margin-top: 0;
}
.sec3 {
  width: 550px;
  padding: 10px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-evenly;
}
.sec3 p {
  font-size: 10px;
}
.sec4 {
  padding: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-evenly;
}
.sec4 p {
  font-size: 10px;
}
.sec5 {
  padding: 12px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-evenly;
}
.sec5 p {
  font-size: 10px;
}

@media screen and (max-width: 600px) {
  body {
    padding: 0;
    margin: 0;
  }

  .container{
    margin-top: 40px;
  }

  img {
    width: 150px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 55px;
    border-radius: 8px;
  }
  .sec1 {
    font-size: 15px;
    width: 500px;
    padding: 10px;
    margin: auto;
    display: flex;
    flex: 1;
    justify-content: space-between;
    box-shadow: 0.5px 3px 5px rgba(41, 45, 48, 0.219);
  }
  .box1 {
    width: 300px;
    padding: 10px;
    margin-left: 15px;
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
  }
  .box1 h1 {
    margin-bottom: 0;
  }
  .box1 p {
    margin-top: 0;
  }
  span {
    color: blue;
  }

  .sec2 {
    width: 500px;
    padding: 10px;
    margin: auto;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
  }
  .sec2-1 p {
    font-size: 15px;
    padding-left: 10px;
    margin-top: 0;
    width: 150;
  }
  .sec3 {
    width: 200px;
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-evenly;
  }
  .sec3 p {
    font-size: 10px;
  }
  .sec4 {
    padding: 10px;
    width: 100px;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
  }
  .sec4 p {
    font-size: 10px;
  }

  h1 {
    font-size: 20px;
  }
}
