body {
  background-image: url("blue wave.jpeg");
  background-repeat: no-repeat;
  color: rgb(75, 173, 206);
}
img {
  width: 120px;
  margin: 10px;
  border-radius: 30px;
}

.container {
  border: 2px solid rgb(75, 173, 206);
  text-align: center;
  border-radius: 15px;
  padding: 30px;
  background-color: azure;
  max-width: 600px;
  margin: auto;
}
#paste {
  border: 2px solid rgb(75, 173, 206);
  border-radius: 10px;
  max-width: 512px;
  height: 50px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.smallbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 3px;
}

form {
  display: flex;
  flex-direction: column;
}
select {
  border: 2px solid rgb(75, 173, 206);
  border-radius: 10px;
  padding: 16px;
  width: 250px;
  height: 55px;
  color: rgb(75, 173, 206);
}
input {
  border: 2px solid rgb(75, 173, 206);
  border-radius: 10px;
  width: 250px;
  height: 50px;
}
button {
  background-color: rgb(75, 110, 206);
  color: white;
  align-self: center;
  min-width: 540px;
  font-weight: 600;
  padding: 15px;
  margin-top: 10px;
  border: 2px solid white;
  border-radius: 15px;
}
span {
  font-weight: 900;
  color: rgb(75, 110, 206);
}
