body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: rgb(31, 31, 34);
    text-align: center;
    background-color: burlywood;
}

p {
    font-size: 18px;
    background-color: coral;
}


img {
    width: 300px;
    height: 200px;
    border: 2px solid black;
}

a {
    color: green;
}

button {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}